---
const { href, linkProps = {}, ...props } = Astro.props;
---
<li {...props}>
    <a href={href} {...linkProps} class:list={[ linkProps.class, "inline-block hover:underline cursor-pointer" ]}>
        <slot />
    </a>
</li>